<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary" style="background-color: #1976d2 !important;">
    <a class="navbar-brand" href="#">
    <img src="/app/asset/code.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong>CodeCamp</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/guidelines">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/procedure">Procedure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/qa">Q&amp;A</a>
      </li>
    </ul>
  </div>
</nav>





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2" style="padding-left: 0">
            <left></left>
        </div>
        <div class="col-lg-8" style="margin-top: 60px">   
            <div id="algotest">
            <h4 class="heading">ALGORITHM TEST</h4>
            <hr>
            <ol>
                <li>You have to write the program either in C or in C++ programming language. Compile
your program using gcc compiler. You can use CodeBlocks IDE for Windows OS.</li>
                <li>All inputs for the programming problem are either from FILE or through command
line arguments and output to STDOUT or to FILE.</li>
                <li>To understand more about the judge environment, time limits, etc. you can read
the FAQ here.</li>
                <li>You can submit solution for a programming problem as many times as you want but
the name of the files must be strictly followed as instruction.</li>
                <li>Use of internet is strictly prohibited in this competition. Please DO NOT use any
Online Development Environment which exposes your code to the public. We take
plagiarism seriously and do not entertain any activity which is against the spirit of
learning/ programming. Violations can lead to cancellation of your participation.</li>
            </ol>
            </div>
            
        </div>
        <div class="col-lg-2" style="">
            <right></right>
        </div>
    </div>
</div>