<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary" >
    <a class="navbar-brand" href="#">
    <img src="/app/asset/code.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong>CodeCamp</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link"routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guidelines">Guidelines</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/procedure">Procedure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/qa">Q&amp;A</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2" style="padding-left: 0">
            <left></left>
        </div>
        <div class="col-lg-8" style="margin-top: 60px">   
            <div id="algotest">
            <h4 class="heading">ALGORITHM TEST</h4>
            <hr>
            <ol>
                <li>Connect to the local server as instructed for necessary information of the competition.</li>
                <li>Read the instructions carefully.</li>
                <li>Find the link for programming challenges.</li>
                <li>Write the programs in your system.</li>
                <li>Connect to the local server and transfer the folder Competition to your local machine.</li>
                <li>Test the correctness of your program using a script testYourCode.exe with the help of
ReadMe. txt file present in Competition folder.</li>
                <li>After successful testing copy source file (.c or .cpp) and executable file (.exe) to the
Result folder.</li>
                <li>Transfer your Result folder to local server.</li>   
            </ol>
            </div>
            
        </div>
        <div class="col-lg-2" style="">
            <right></right>
        </div>
    </div>
</div>