<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="#">
    <img src="/app/asset/code.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <strong>CodeCamp</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guidelines">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/procedure">Procedure</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/qa">Q&amp;A</a>
      </li>
    </ul>
  </div>
</nav>




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2" style="padding-left: 0">
            <left></left>
        </div>
        <div class="col-lg-8" style="margin-top: 60px">   
            <div id="algotest">
            <h4 class="heading">ALGORITHM TEST</h4>
            <hr>
            <ol>
                <li><strong>Where will the competition take place?</strong><br><small>Venue will be notified before time.</small></li>
                <li><strong>What type of questions will I have to solve in this competition?</strong><br><small>Logical programming, Algorithms
Refers to sample challenges for more details.</small></li>
                <li><strong>Are the programming questions restricted to specific languages?</strong><br><small>Yes, C or C++</small></li>
                <li><strong>What will happen in case of there is an issue with my computer?</strong><br><small>You must check your system before start of competition.</small></li>
                <li><strong>Is it possible to change my submission after I have submitted a task?</strong><br><small>Yes, you can edit and submit the solution to a question (that you can view and edit) any
number of times before the completion time closes.</small></li>
                <li><strong>How does the checkYourCode determine whether a solution is correct?</strong><br><small><p>checkYourCode is a script written in Python. You have to strictly follow the instruction for
file names and format of output expected.</p><p>For each problem, based on the specifications mentioned in the problem statement, either
input is taken through command line or there will be one or more input files and
corresponding (correct) output files. The program that you create is run on each of the input
                    files and the corresponding output must match the (correct) output files in order.</p><p>Your program will be marked incorrect in the following cases:</p><ul><li>Output generated on STDOUT does not matches expected output</li><li>Output files (generated by running your code) do not match the pre-generated output
files</li><li>Output files (generated by running your code) matches all the pre-generated output
files, however, it is not in the order in which the pre-generated output files are
arranged</li></ul></small>
                <li><strong>How does the time limit work?</strong><br><small><p>Your program must read, process, and output the result for all input files within the specified
time limit.</p><p>The input file will be of the format that is specified in the problem. This means that if each
input file contains multiple test cases, then your code must pass all the test cases within the
specified time limit.</p></small></li>
                <li><strong>How does the total execution time work?</strong><br><small><P>Your code is tested multiple times against different input files. The displayed execution time
is the total time spent executing each input file. Hence, Total execution time &lt;= (Time Limit
* Number of input files)</P><p>Your program is terminated in the following scenarios:</p><ul><li>If the time that is required to execute each input file exceeds the time limit execution
                    that is set for any input file.</li><li>If the total time that is required to execute all the input files exceeds the total time
limit allowed.</li></ul></small></li>
                <li><strong>My program doesn&#39;t compile. Why?</strong><br><small>C/C++<br><ul><li>Ensure that you are using a compiler that complies with the standards.</li><li>For example, do not use Turbo C++. Code that compiles in Turbo C++ will
often not compile on other platform.</li><li>Also, remove &#39;conio.h includes&#39; in your code.</li></ul></small></li>
                <li><strong>Why am I seeing a runtime error on the screen?</strong><br><small><p>A runtime error means that the program was compiled successfully but it crashed or exited
with an error. The most common error messages include the following:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Error</th>
                            <th>Description</th>
                                <th>Reason</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SIGSEGV</td>
                                <td>Segmentation fault error</td>
                                <td>
                                <p>Caused by an out-of- scope array index causing
a buffer overflow, an incorrectly initialized

pointer, etc.</p>
                                <p>Signal is generated when a program tries to
read or write outside the memory that is
allocated for it, or to write memory that can

only be read.</p>
                                <p>For example, you are accessing a[-1] in a
language which does not support negative

indices for an array.</p>
                                </td>
                            </tr>
                             <tr>
                                <td>2</td>
                                <td>SIGXFSZ</td>
                                <td>Output limit</td>
                                <td>Your program has printed too much data to</td>
                            </tr>
                             <tr>
                                <td>3</td>
                                <td>SIGFPE</td>
                                <td>Floating point error</td>
                                <td>This usually occurs when you&#39;re trying to
divide a number by 0, or trying to take the
square root of a negative number.</td>
                            </tr>
                             <tr>
                                <td>4</td>
                                <td>SIGABRT</td>
                                <td>Raised by the
program</td>
                                <td><p>This happens when the judge aborts your
program in the middle of execution.</p><p>This can also be raised due to insufficient

memory.</p></td>
                            </tr>
                             <tr>
                                <td>5</td>
                                <td>NZEC</td>
                                <td>Non-zero exit code
error</td>
                                <td><p>This message means that the program exited to
the shell by returning a value that is different

from 0.</p><p>For languages such as C/C++, this probably
means you forgot to add &quot;return 0&quot; at the end

of the program.</p><p>It could happen if your program threw an
exception which was not caught. Trying to
allocate too much memory in a vector.</p><p>For interpreted languages like Python, NZEC
will usually mean that your program either
crashed or raised an uncaught exception.</p><p>Some of the reasons being in such cases would
be: the runtime errors mentioned above. Or,
for instance usage of an external library which
is causing some error, or not being used by the

judge.</p></td>
                            </tr>
                             <tr>
                                <td>6</td>
                                <td>MLE</td>
                                <td>Memory limit
exceeded error</td>
                                <td><p>This error means that your program tried to
allocate memory beyond the memory limit

indicated.</p><p>This can occur if you declare a very large
array, or if a data structure in your program

becomes too large.</p></td>
                            </tr>
                             <tr>
                                <td>7</td>
                                <td>OTHER</td>
                                <td>Generated when you use too much memory</td>
                                <td><p>Check for arrays that are too large, or other elements that could grow to a size too large to fir in memory.</p><p>Sometimes it can also be generated for reasons
similar to the SIGSEGV error.</p></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </small></li>
            </ol>
                
            <p>Avoiding runtime errors</p>
                <ul>
                    <li>Ensure that you are not using variables that haven&#39;t been initialized. These may be set
to 0 on your computer, but aren&#39;t guaranteed to be on the judge.</li>
                    <li>Check every single occurrence of accessing an array element and see if it could
possibly be out of bounds.</li>
                    <li>Ensure that you are not declaring too much memory. 64 MB is guaranteed, but having
an array of size [100000][100000] will never work.</li>
                    <li>Ensure that you are not declaring too much stack memory. Any large arrays should be
declared globally, outside of any functions - putting an array of 100000 ints inside a
function probably will not work.</li>
                </ul>
                
                
                <p>SAMPLE CHALLENGES</p>
                <small>Take some sample challenges from CodeChef and give proper reference at the bottom</small><br>
                <small>Example:</small>
                <a href="https://www.codechef.com/problems/MINSHIFT">https://www.codechef.com/problems/MINSHIFT</a>
            </div>
            
        </div>
        <div class="col-lg-2" style="">
            <right></right>
        </div>
    </div>
</div>