 <nav class="sidebart main-right">
     <p style="margin-bottom: 10px;margin-left: 20%;">Quick Links</p>
     <hr>
          <ul class="nav flex-column">
              <p>ALGORITHM TEST</p>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/guidelines"> Guidelines</a>
             <a class="nav-link active" routerLink="/procedure">Procedure</a> 
            <a class="nav-link active" routerLink="/qa">Q&amp;A :</a>
            <small>
                <ol>
                    <li>Where will the competition take place?</li>
                    <li>What type of questions will I have to solve in this competition?</li>
                    <li>Are the programming questions restricted to specific languages?</li>
                    <li>What will happen in case of there is an issue with my computer</li>
                    <li>Is it possible to change my submission after I have submitted a task?</li>
                    <li>How does the checkYourCode determine whether a solution is correct?</li>
                    <li>How does the time limit work?s</li>
                    <li>How does the total execution time work?</li>      
                    <li>My program doesn't compile. Why?</li>
                    <li>Why am I seeing a runtime error on the screen?</li>
                    
                    
                </ol>
            </small>
            </li>
          </ul>
     
</nav>  